/**
 * SPDX-FileCopyrightText: WARP <development@warp.lv>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

// Custom scrollbar styling for KiCanvas
:root {
  --scrollbar-bg: hsla(230, 7%, 17%, 1.00);
  --scrollbar-fg: hsla(230, 7%, 75%, 1.00);
  --scrollbar-hover-fg: hsla(230, 7%, 85%, 1.00);
  --scrollbar-active-fg: hsla(230, 7%, 95%, 1.00);
}

// Scrollbar styling
::-webkit-scrollbar {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: -6px;
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  position: absolute;
  background: var(--scrollbar-fg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-fg);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-active-fg);
}